<h3>Detalles del Usuario</h3>
<div>
  <div>
    <label><b>Id: </b>{{usuario.id}}</label>
  </div>
  <div>
    <label><b>Nombre: </b>{{usuario.name}}</label>
  </div>
  <div>
    <label><b>Apallido paterno: </b>{{usuario.last_name_p}}</label>
  </div>
  <div>
    <label><b>Apallido materno: </b>{{usuario.last_name_m}}</label>
  </div>
  <div>
    <label><b>Domicilio: </b>{{usuario.domicilio}}</label>
  </div>
  <div>
    <label><b>Telefono: </b>{{usuario.tel}}</label>
  </div>
  <div>
    <label><b>Sanciones: </b>{{usuario.sanctions}}</label>
  </div>
  <div>
    <label><b>Deuda: </b>{{usuario.sanc_money}}</label>
  </div>

</div>
