<div class = "col-md-6 offset-md-3">
  <h3 class="text-center">Registro de Usuario</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text"
      class="form-control"
      id="nombre"
      [(ngModel)] = "usuario.name"
      name="nombre">
    </div>
    <div class="form-group">
      <label>Apellido Paterno</label>
      <input type="text"
      class="form-control"
      id="apellidoP"
      [(ngModel)] = "usuario.last_name_p"
      name="apellidoP">
    </div>
    <div class="form-group">
      <label>Apellido Materno</label>
      <input type="text"
      class="form-control"
      id="apellidoM"
      [(ngModel)] = "usuario.last_name_m"
      name="apellidoM">
    </div>
    <div class="form-group">
      <label>Domicilio</label>
      <input type="text"
      class="form-control"
      id="domicilio"
      [(ngModel)] = "usuario.name"
      name="domicilio">
    </div>
    <div class="form-group">
      <label>Telefono</label>
      <input type="text"
      class="form-control"
      id="telefono"
      [(ngModel)] = "usuario.tel"
      name="nombre">
    </div>

    <button class="btn btn-success">Registrar</button>

  </form>
</div>
